# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# projects
.vite
.eslintcache
pnpm-lock.yaml
package-lock.json
.eslintrc-auto-import.json
auto-imports.d.ts
.eslintrc-global-types.json
components.d.ts


dist-zip/*
!dist-zip/.gitkeep
!dist-zip/RELEASE_LOG.md